.caixa {
    display: flex;
    flex-wrap: wrap;
    background-color: purple;
    width: 50%;
    margin: auto;
    justify-content: center;
    padding: 10px;
}

.box {
    background-color: orange;
    display: flex;
    margin: 2px;
    width: 30px;
    height: 30px;
}